	footer{
		height: 60px;
		display: flex;
		flex-direction:row;
		justify-content:center;
	}
	
	footer>div>ul{
		list-style-type:none;
		gap:50px;
		font-weight: bold;
		display:flex;
	}
	footer>div{
		width: 550px;
		text-align:center;
	}
	footer>div>h4{
		color: #888;
	}
	a{
		text-decoration:none;
		color: #666;
		font-size:18px;
	}
	
@media screen and (max-width: 425px){
	footer{

		width: 385px;
		display:flex;
		flex-direction:column;
		
	}
	
	footer>div>ul{
		list-style-type: none;
		color: gray;
		gap:10px;
		font-weight: 600;
		margin-top:0px;
	}
	footer>div{
		width: 385px;
		height: 30px;
	}
	
	footer>div:last-child > h4{
		color:#888;
		font-weight:400;
		margin-top:8px;
	}

}