	footer{
		height: 30px;
		display: flex;
		flex-direction:row;
		justify-content:space-between;
	}
	
	footer>div>ul{
		list-style-type:none;
		color: gray;
		gap:20px;
		font-weight: bold;
	}
	footer>div{
		width: 500px;
		text-align:center;
	}

	footer>div>h4{
		color: gray;
	}
	
@media screen and (max-width: 425px){
	footer{

		width: 385px;
		display:flex;
		flex-direction:column;
		
	}
	
	footer>div>ul{
		list-style-type: none;
		color: gray;
		gap:10px;
		font-weight: bold;
	}

	footer>div{
		width: 385px;
		height: 0px;
	}

}